@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.board {
  position: relative;
}

.boardGrid {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  outline: 10px solid white;
  outline-offset: -5px;
  width: 455px;
  height: 455px;
}

.boardSquare {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  text-align: center;
}

.hoverIndicator {
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.5);
  margin: 35%;
  border-radius: 50%;
  border: none;
}

.card svg {
  margin: auto;
  padding-top: 14px;
}

.turnIndicator {
  background-color: rgba(128, 128, 128, 0.2);
  margin-left: 150px;
  padding: 50px;
  border-radius: 25px;
}

.turnIndicator p {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
}

#player1 {
  color: #345f82;
  font-weight: bold;
  text-align: center;
}

#player2 {
  color: #aa555a;
}

#lockScreen {
  position: absolute;
  width: 455px;
  height: 455px;
  background-color: grey;
  opacity: 90%;
  text-align: center;
  border-radius: 5px;
}

#gameSummary {
  font-family: 'Roboto', Helvetica, sans-serif;
  opacity: 100%;
  font-size: 40px;
  padding-top: 32%;
}

#crown svg {
  position: relative;
  float: left;
  width: 22px;
  height: 22px;
  transform: translateY(5px);
  padding-right: 10px;
}
